<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
</head>
<body>
    <h4 class="text-center mb-3">QR Code</h4>
        <div class="text-center">
                                <img src="{{ qrImage }}" alt="QR Code du produit {{ commande.getIdcommand() }}" class="img-fluid product-image">
                            </div>
</html>